.navbar .navbar-nav .nav-link:hover{
    color: rgb(250, 120, 77) !important;
}

.nav-link
{
    color: white !important;
}

.dropdown .btn
{
 background: none !important;
 border: none !important;
}

.shrink
{
    height: 675px;
}

.image
{
    height: 675px;
}

.navbar-brand:hover
{
    /* background-color: grey;  */
    border-radius: 7px;
    border
    border-color: white !important;
}