.navbar .navbar-nav .nav-link:hover{
    color: rgb(250, 120, 77) !important;
}

.nav-link
{
    color: white !important;
}

.dropdown .btn
{
 background: none !important;
 border: none !important;
}

.shrink
{
    height: 675px;
}

.image
{
    height: 675px;
}

.card-img-top
{
    border-radius: 0px !important;
}

.card
{
    border: none !important;
}

/* .col-3
{
    padding-top: 3px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border: none !important;
} */
.col
{
    /* padding-top: 3px !important; */
    padding: 0px !important;
    border: none !important;
} 

/* .row
{
    padding-left: 4px;
} */
/* ------------------------------ */




